In [ ]:
print("enter your address")
housename=input("enter your house name: ")
p=input("enter your postoffice: ")
c=input("enter your city: ")
d=input("enter your district: ")
state=input("enter your state: ")
pincode=int(input("enter your pincode: "))
country=input("enter your county: ")

print("Address:\n",housename,",\n",p,",\n",c,",\n",d,",\n",state,"-",pincode,",\n",country)

enter your address
enter your house name: vellappallil
enter your postoffice: vadavathoor
enter your city: kalathipady
enter your district: kottayam
enter your state: kerala
enter your pincode: 686010
enter your county: India
Address:
 vellappallil ,
 vadavathoor ,
 kalathipady ,
 kottayam ,
 kerala - 686010 ,
 India

In [ ]:
s=int(input("enter starting year: "))
e=int(input("enter ending year: "))
print("leap years between",s,"and",e)
while (s<=e):
    if (s%4==0):
      print(s)
    s=s+1

enter starting year: 2020
enter ending year: 2030
leap years between 2020 and 2030
2020
2024
2028

In [ ]:
 
list1 = [11, -21, 0, 45, 66, -93] 
 
 for num in list1:  
 
    if num >= 0: 
     print(num)

11
0
45
66

In [ ]:
word=input("enter a word: ")
vowels=['a','e','i','o','u']
list=[]
for x in word:
  if(x in vowels and x not in list):
    list.append(x)
print("vowels present in the given word is: ",list)

enter a word: Reiok
vowels present in the given word is:  ['e', 'i', 'o']

In [ ]:
x=[]
n=int(input("enter list items : "))
for i in range(1,n+1):
    a=int(input("enter the value of %d item : "%i))
    x.append(a*a)
    print(x)

enter list items : 3
enter the value of 1 item : 2
[4]
enter the value of 2 item : 5
[4, 25]
enter the value of 3 item : 3
[4, 25, 9]

In [ ]:
t=input("enter any word : ")
for l in range(len(t)) :
  print("ASCII value is",t[l],"is",ord(t[l]))

enter any word : time
ASCII value is t is 116
ASCII value is i is 105
ASCII value is m is 109
ASCII value is e is 101

In [ ]:
 
def word_count(str):
    counts = dict()
    words = str.split()
 
    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1
    return counts
print( word_count('the time will be shown in given piod'))

{'the': 1, 'time': 1, 'will': 1, 'be': 1, 'shown': 1, 'in': 1, 'given': 1, 'piod': 1}

In [ ]:
x=[]
n=int(input("enter limit of the list "))
for i in range(1,n+1):
    a=int(input("enter the value of %d item : "%i))
    if (a>100):
     x.append('over')
    else:
     x.append(a)
print(" list " ,x)

enter limit of the list 3
enter the value of 1 item : 30
enter the value of 2 item : 90
enter the value of 3 item : 700
 list  [30, 90, 'over']

In [ ]:
l=[]
x=int(input("enter the limit : "))
for i in range (1,x+1):
  x=input("enter the first name : ")
  l.append(x)
  count = x.count('a')
  print("number of time a is present in name:",count);

enter the limit : 2
enter the first name : nemo
number of time a is present in name: 0
enter the first name : arjun
number of time a is present in name: 1

In [ ]:
x=[]
a=int(input("enter limit for list1 : "))
for i in range(1,a+1):
  a=int(input())
  x.append(a)
print(x)
y=[]
b=int(input("enter limit for list2 : "))
for i in range(1,b+1):
  b=int(input())
  y.append(b)
print(y)
if (len(x)==len(y)):
  print("list1 and list2 are of same length i.e.",len(x))
else:
  print("list1 and list2 are of different length.")
if (sum(x)==sum(y)):
  print("list1 and list2 sums to the same value i.e.",sum(x))
else:
  print("list1 and list2 sums up to different values.")
def common(x, y): 
    p=set(x) 
    q=set(y) 
    if len(p.intersection(q)) > 0: 
        return(p.intersection(q))   
    else: 
        return("no common elements")  
print("value that occur in both lists is/are :",common(x,y))

enter limit for list1 : 3
4
6
7
[4, 6, 7]
enter limit for list2 : 3
5
6
8
[5, 6, 8]
list1 and list2 are of same length i.e. 3
list1 and list2 sums up to different values.
value that occur in both lists is/are : {6}

In [ ]:
def change_char(str1):
  char = str1[0]
  str1 = str1.replace(char, '$')
  str1 = char + str1[1:]
  return str1
 
print(change_char('restart'))

resta$t

In [ ]:
def change_sring(str1):
   return str1[-1:] + str1[1:-1] + str1[:1]
	  
print(change_sring('abcd'))

dbca

In [ ]:
r = float(input ("Input the radius of the circle : "))
r=3.14*r*r
print (r)

Input the radius of the circle : 4
50.24

In [ ]:
num1=int(input("enter the first number"))
num2=int(input("enter the second number "))
num3=int(input("enter the third number"))
if (num1 > num2) and (num1 > num3):
   largest = num1
elif (num2 > num1) and (num2 > num3):
   largest = num2
else:
   largest = num3
 
print("The largest number is",largest)

enter the first number5
enter the second number 3
enter the third number4
The largest number is 5

In [ ]:
fn= input("Enter Filename: ")
f = fn.split(".")
print ("Extension of the file is : " , f[1])

Enter Filename: Duh.py
Extension of the file is :  py

In [ ]:
c=[]
x=int(input("enter limit for list : "))
for i in range(1,x+1):
  a=input()
  c.append(a)
print(c)
print(c[0],c[-1])

enter limit for list : 3
orange
green
red
['orange', 'green', 'red']
orange red

In [ ]:
a = int(input("Input an integer : "))
n1 = int( "%s" % a )
n2 = int( "%s%s" %(a,a) )
n3 = int( "%s%s%s" %(a,a,a) )
print (n1+n2+n3)

Input an integer : 4
492

In [ ]:


color_list_1 = set(["White", "Black", "Red"])
color_list_2 = set(["Red", "Green"])

print(color_list_1.difference(color_list_2))

{'Black', 'White'}

In [ ]:

x=input("enter the first character : ")
y=input("enter the second character : ")
def swap(x,y): 
  a = y[:1] + x[1:]
  b = x[:1] + y[1:]
  return a + ' ' + b
print(swap(x,y))

enter the first character : time
enter the second character : good
gime tood

In [ ]:

y={'carl':40,'alan':2,'bob':1,'danny':3} 
                                         
l=sorted(y.items())   
l.sort()            #sort the list
print('Ascending order is',l) 

l=sorted(y.items())
l.sort(reverse=True) 
print('Descending order is',l)


print("Dictionary",dict)

Ascending order is [('alan', 2), ('bob', 1), ('carl', 40), ('danny', 3)]
Descending order is [('danny', 3), ('carl', 40), ('bob', 1), ('alan', 2)]
Dictionary {'danny': 3, 'carl': 40, 'bob': 1, 'alan': 2}

In [ ]:
d1 = {'Cricket':'Sachin', 'Football':'Zindane'}
d2 = {'Tennis' : 'Roger', 'Basketball' : 'Jordan'}
d3 = {**d1, **d2}
d3

{'Basketball': 'Jordan',
 'Cricket': 'Sachin',
 'Football': 'Zindane',
 'Tennis': 'Roger'}

In [ ]:

a=float(input("enter the first value : "))
b=float(input("enter the second value : "))
x=a
y=b
while (b != 0):
  temp=b
  b=a%b
  a=temp
gcd=a   
print("GCD of",x,"and",y,"is",gcd)

enter the first value : 5
enter the second value : 7
GCD of 5.0 and 7.0 is 1.0

In [ ]:

x=[]
n=int(input("enter list limit : "))
for i in range(1,n+1):
    a=int(input("enter the value of %d item : "%i))
    x.append(a)
for i  in x:
  if (i%2 == 0):
    x.remove(i)
print(" list after removing even numbers :",x)

enter list limit : 3
enter the value of 1 item : 6
enter the value of 2 item : 7
enter the value of 3 item : 8
 list after removing even numbers : [7]